* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


#home {
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #34B7F1, #25D366);
  border-radius: 0px 0 100px 100px;
  color: white;
  font-family: Sora, sans-serif;
  font-size: clamp(1rem, 2.5vw, 2rem);
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.container {
  display: flex;
  justify-content: center;
  height: 100px;
  margin: 50px 200px;
}

.form-div {
  width: 50%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 15px;

}

textarea {
  height: 200px;
  border-radius: 5px;
  padding: 10px 0 0 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border: none;
}

label {
  font-family: sora;
}

input {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background: white;
}


.submit-button {
  margin-top: 10px;
  width: 30%;
  border-radius: 50px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background: #25D366;
  color: white;
  font-weight: bold;
  font-family: sora;
  padding: 15px 10px;
  align-self: center;
}

.submit-button:hover {
  cursor: pointer;
  background: white;
  color: black;
  transform: scale(1.1);
  transition: 0.5s;
}

.form-text {
  background-color: red;
  width: 50%;
}

.generated-link {
  height: 50px;
  width: 500px;
  align-self: center;
}


@media(max-width: 430px) {
  #home {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgb(3, 232, 240), rgba(1, 255, 1, 0.774));
    border-radius: 0px 0 50px 50px;
    color: white;
    font-family: Sora, sans-serif;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }

}